# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- dev

variables:
  CONTINUOUS_INTEGRATION: true

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'
    Python38:
      python.version: '3.8'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install platformio
    wget https://sw-center.st.com/packs/resource/library/stm32cube_mx_v561.zip
    unzip -q stm32cube_mx_v561.zip -d ~/cubemx
  displayName: 'Install tools'

- script: |
    python -m unittest -b -v
  displayName: 'Test (unittest)'
