include .gitignore
include CHANGELOG.md
include LICENSE
include MANIFEST.in
include README.md
include TODO.md
recursive-include stm32pio-test-project *
include stm32pio_gui/main.qml
include stm32pio_gui/README.md
recursive-include stm32pio_gui/icons *
