include README.md
include LICENSE
include MANIFEST.in
include CHANGELOG
include TODO.md
include .gitignore
include stm32pio/tests/stm32pio-test-project/stm32pio-test-project.ioc
include screenshots/*.png
